{% extends 'base.html.twig' %}

{% block title %}Add book!{% endblock %}

  {% block body %}
    <div class="row">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
{% endblock %}
