{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="test jumbotron text-center">
        <h1>My library</h1>
        <p>Love books .. </p>
        <a href="{{ url('add wishlist books') }}" class="btn btn-warning">Ajouter un livre à la liste d'envie</a>
    </div>
{% endblock %}
