{% extends 'base.html.twig' %}
{% block title %}Liste{% endblock %}

{% block body %}
<a href="{{ url('add wishlist books') }}" class="btn btn-default">Ajouter un livre à la liste d'envie</a>
{% endblock %}
